@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Total Views</h1>
    <span id="totalwiewscounter"></span>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/userCount.js"></script>